.faqs-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECE9C1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #3A3812;
  font-size: 28px;
}

.faqs-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  border: 1px solid #CDC65F;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.3s ease;
  margin-bottom: -10px;
}

.faq-header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

.faq-header:hover {
  background-color: #DFDA98;
}

.faq-question {
  font-weight: 600;
  color: #3A3812;
}

.faq-toggle-icon {
  font-size: 14px;
  color: #716C23;
}

.faq-answer {
  padding: 15px;
  background-color: #FFFFFF;
  border-top: 1px solid #D9D9D9;
}

.faq-answer p {
  margin: 0;
  line-height: 1.6;
  color: #3A3812;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.page-btn {
  background: #CDC65F;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  transition: all 0.3s;
}

.page-btn:hover {
  background-color: #978C5C;
}

.current-page {
  background-color: #E6E2AD;
  padding: 5px 12px;
  border-radius: 4px;
  font-weight: bold;
  color: #3A3812;
}

.faq-category h2 {
  font-size: 20px;
  font-weight: bold;
  color: #111005;
  background: #CDC65F;
  padding: 10px 15px;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Reduce spacing */
  width: fit-content; /* Adjust width to content */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}
